pytest==7.4.0
cmake==3.27.0
scikit-build==0.17.6
fastapi==0.100.1
uvicorn==0.23.1
sse-starlette==1.6.1
pydantic-settings==2.0.2
torch==2.0.1
setuptools==68.0.0
accelerate==0.21.0
transformers==4.31.0
trl==0.5.0
datasets==2.14.3
bitsandbytes==0.41.1
einops==0.6.1
wandb==0.15.8
scipy==1.11.1
peft==0.4.0
nvidia-ml-py3==7.352.0
optimum==1.11.0